@CHARSET "ISO-8859-1";
html {
    font-family: arial,helvetica,sans-serif;
    color: #333;
}
.formu {
  width: 500px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
}
#correo {
  text-align: right;
}

input[type="submit"] {
  width:120px;
  /*margin-left:35px;*/
  display:inline-block;
  color: white;
  background-color: #4D90FE;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #3079ED;
  /*text-shadow: 0px 1px rgba(0, 0, 0, 0.1);*/
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4D90FE), to(#4787ED));
  background-image: -webkit-linear-gradient(center top, #4D90FE, #4787ED);
  background-image: -moz-linear-gradient(center top, #4D90FE, #4787ED);
  background-image: -o-linear-gradient(center top, #4D90FE, #4787ED);
  background-image: linear-gradient(center top, #4D90FE, #4787ED);
}

input[type="submit"]:active {
  box-shadow: black 1px 1px 15px;
}
input[type=text], input[type=password] { 
  padding: 0 8px;
  height: 29px;
  border: 1px solid #dcdcdc;
  -webkit-appearance: none;
  color: #444;
  font-size: 11px;
  font-weight: bold;
  line-height: 27px;
  list-style: none;
  margin: 0 2px;
  min-width: 46px;
  outline: none;
}

.inputs {
  width: 90%;
  padding: 0 8px;
  height: 29px;
  border: 1px solid #dcdcdc;
  -webkit-appearance: none;
  color: #444;
  /*font-size: 11px;*/
  font-weight: bold;
  line-height: 27px;
  list-style: none;
  margin: 0 2px;
  min-width: 46px;
  outline: none;
}